[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.26.0"
dataclasses-json = "==0.5.6"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
